body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lucida Sans', 
        'Lucida Sans Regular', 
        'Lucida Grande', 
        'Lucida Sans Unicode', 
        Geneva, Verdana, 
        sans-serif;
   /*background-image: url('Images/fundo.jpg');*/
}

/* Impedir que o conteúdo atinja as bordas */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top:2%;
}

/*
 Substituir o comportamento default do bootstrap em listas de descrição
*/
.dl-horizontal dt {
    white-space: normal;
}

/* width nos elementos de entrada do formulário, pois eles são
   100% de largura por default */
input,
select,
textarea {
    max-width: 280px;
}

.menu{
    padding: 10px !important;
    font-size: 15px !important;
    font-family: Arial !important;
}

