body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial !important;
    background-image: url('Images/fundo.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

/* Impedir que o conteúdo atinja as bordas */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*
 Substituir o comportamento default do bootstrap em listas de descrição
*/
.dl-horizontal dt {
    white-space: normal;
}

/* width nos elementos de entrada do formulário, pois eles são
   100% de largura por default */
input,
select,
textarea {
    max-width: 280px;
}

.menu{

    font-size: 18px !important;
    font-family: Arial !important;
    background-color: dodgerblue !important;
}

