@{
    ViewBag.Title = "Contato";
}

<h3><b>Contato</b></h3><br />
                       <address>
                           <strong>E-mail: </strong> <a target="_blank" href="https://accounts.google.com/signin/v2/sl/pwd?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">goncalves.lucasmatheus@gmail.com</a><br /><br />
                           <strong>LinkedIn:</strong> <a target="_blank" href="https://www.linkedin.com/in/lucas-gon%C3%A7alves-372aa5150/content">Lucas Gonçalves</a><br /><br />
                           <strong>Facebook:</strong> <a target="_blank" href="https://www.facebook.com/profile.php?id=100003780731699">Lucas Matheus</a><br /><br />
                           <strong>Celular:</strong> <span>(47) 99685-3423</span>
                       </address>