@{
    ViewBag.Title = "Página Inicial";
}
<head>
    @Styles.Render("~/Content/Home.css")
</head>
<div class="jumbotron">
    <h1>TASKLIST</h1><br />
    <p class="lead">GERENCIADOR DE TAREFAS</p>
    <p>CRIE TAREFAS COMO META PARA CUMPRIR DURANTE O SEU DIA, SEMANA, MÊS E ANO!</p>
    <p>NO TASKLIST, AINDA EXISTE A OPÇÃO DE EDITAR, EXCLUIR E ADICIONAR DATAS QUE VOCÊ DESEJA EXECUTAR SUA TAREFAS. </p>
    <p class="git"><a target="_blank" href="https://github.com/lucasssg" class="btn btn-primary btn-sm">GitHub - Lucas Gonçalves </a></p>
    @Html.ActionLink("CLIQUE AQUI PARA COMEÇAR!", "Index", "Tarefas", new { area = "" }, new { @class = "navbar-brand" })
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            <b> Projeto by Lucas Gonçalves.</b>
        </p>
     </div>   
</div>