@{
    ViewBag.Title = "Sobre";
}

<h3><b>Lucas Gonçalves</b></h3><br />

<p>Formado em Técnico de Informática e cursando superior de Tecnologia em Sistemas para Internet.</p>
<p>21 anos, nascido em Blumenau - Santa Catarina.</p>

<style>
    p{
        font-family: Arial;
        font-size: 16px;
    }
</style>